.hero {
  background-image: url("/Assets/Images/canopy-hero.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;

  &__mask {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    padding: 100px 0 50px 0;
    z-index: 5;
  }

  &__title {
    color: white;
    display: inline-block;
    font-weight: bold;
    font-size: 65px;
    text-transform: uppercase;
  }

  &__title::after {
    border-top: solid white 1px;
    display: block;
    content: "border";
    font-size: 0px;
    margin: 20px auto 5px auto;
    width: 50%;
  }

  &__desc {
    color: white;
    margin: 0 auto;
  }

  &__arrow {
    color: white;
    font-size: 40px;
    // margin-top: 250px;
    transition: 1s;
    position: absolute;
    bottom: 50px;
  }
}

@media screen and (min-width: 700px) {
  .hero {
    &__title::after {
      margin-top: 40px;
    }

    .text__background {
      margin-top: 10%;
    }
  }
}

@media screen and (min-width: 1000px) {
  .hero {
    &__arrow {
      font-size: 50px;
    }

    &__mask {
      padding-bottom: 0;
    }

    .text__background {
      margin-top: 10%;
    }

    &__title {
      font-size: 150px;
    }

    &__desc {
      font-size: 40px;
    }
  }
}
