.mission {
  margin: 50px auto 0 auto;
  text-align: left;

  &__title {
    color: #52b788;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__desc {
    color: rgb(104, 104, 104);
    line-height: 24px;
    max-width: 400px;
  }

  article:nth-of-type(1) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 700px) {
  .mission {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    text-align: center;

    article {
      width: 469px;
    }

    article:nth-of-type(1) {
      margin-bottom: 0;
    }

    &__title {
      font-size: 40px;
    }

    &__desc {
      font-size: 20px;
      line-height: 35px;
      margin: 0 auto;
      max-width: 360px;
    }
  }
}
