.featured {
  padding-bottom: 30px;
  text-align: center;

  .react-slideshow-container {
    // gets rid of arrows and
    .nav {
      display: none;
    }
    + .indicators {
      display: none;
    }
  }

  &__title {
    color: #52b788;
    font-size: 35px;
    font-weight: bold;
    margin: 60px auto 20px auto;
    text-transform: uppercase;
  }

  &__item {
    color: #52b788;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
  }

  img {
    box-shadow: 1px 1px 10px;
    height: 350px;
    width: 250px;
  }
}

@media screen and (min-width: 700px) {
  .featured {
    padding-bottom: 70px;
    img {
      height: 400px;
      margin-bottom: 15px;
      width: 350px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .featured {
    &__title {
      font-size: 60px;
    }

    &__desc {
      font-size: 25px;
    }

    img {
      height: 550px;
      margin-bottom: 10px;
      width: 450px;
    }

    &__item {
      font-size: 40px;
    }
  }
}
