.nav {
  align-items: center;
  background-color: #c3f9c9;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  text-align: center;
  top: 0;
  transition: 0.3s;
  width: 100%;
  z-index: 10;

  .header__auth {
    background-color: inherit;
    border: 0;
    padding: 0;
    color: inherit;
    font-size: 17px;
    margin-left: 15px;
    transition: 0.2s;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__list {
    align-items: center;
    display: flex;
    font-size: 17px;
    font-weight: bold;
    justify-content: space-evenly;
    padding: 20px;
    text-transform: uppercase;

    &__item {
      padding: 5px;
      margin-left: 15px;
      transition: 0.2s;
    }
  }

  // logo styles

  .fas {
    color: #3f6d45;
    font-size: 25px;
    transition: 0.2s;
  }

  .logo-text {
    color: #3f6d45;
    font-size: 0;
    transition: 0.5s;
  }
}

// ============================================
// Media Queries
// ============================================

@media screen and (min-width: 700px) {
  .nav {
    justify-content: space-between;

    .fas {
      font-size: 40px;
      margin: 0 10px;
    }

    &__list,
    .header__auth {
      font-size: 25px;

      //   .header__auth {
      //     margin-left: 45px;
      //   }

      .fa-sign-in-alt,
      .fa-sign-out-alt {
        margin-left: 20px;
      }

      .fa-sign-in-alt:hover,
      .fa-sign-out-alt:hover {
        color: rgb(201, 136, 101);
      }

      &__item {
        margin-left: 25px;
        padding-bottom: 5px;
      }

      &__item:hover {
        border-bottom: solid 3px rgb(201, 136, 101);
        color: rgb(201, 136, 101);
      }
    }

    .logo-container {
      align-items: center;
      display: flex;

      .logo-text {
        font-size: 25px;
        font-weight: bold;
        margin-left: 5px;
        padding-left: 5px;
        text-transform: uppercase;
      }

      .logo-text:hover {
        border-left: solid 3px rgb(201, 136, 101);
        color: rgb(201, 136, 101);
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .nav {
    padding: 10px 0;

    &__list {
      &__item {
        margin-left: 50px;
      }
    }
  }
}
